<div class="container">
  <div class="content">
    <div class="row">
      <p class="my-5 fs-1">Administrador de productos</p>
<!--      <mat-slide-toggle>Toggle me!</mat-slide-toggle>-->
      <div class="col-12">
        <button type="button"
                class="my-2 mb-4 btn btn-danger"
                data-bs-toggle="modal"
                (click)="isEditingProduct = false"
                data-bs-target="#register-product-modal">
          Registrar producto
        </button>
        <table *ngIf="products.length > 0"
               datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Unidades disponibles</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products;">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>${{product.price | number}}</td>
            <td>{{product.units_available}}</td>
            <td>
              <div class="btn-group">
                <button type="button" title="Eliminar"
                        (click)="deleteProduct(product.id)"
                        class="mx-1 btn btn-sm btn-danger">
                  <i class="far fa-trash-alt"></i>
                </button>
                <button type="button" title="Editar"
                        (click)="selectProduct(product)"
                        data-bs-toggle="modal"
                        data-bs-target="#register-product-modal"
                        class="btn btn-sm btn-success">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div *ngIf="selectedProduct" class="modal fade text-center" id="register-product-modal" tabindex="-1" aria-labelledby="register-product-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <p class="modal-title fs-4" id="register-product-modalLabel">{{ selectedProduct ? 'Editar' : 'Registrar'}} producto</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearSelectedProduct()"></button>
      </div>
      <div class="modal-body">
        <form class="item">
          <div class="mb-3 mx-5">
            <input type="text" class="form-control" id="name" name="name"  [(ngModel)]="selectedProduct.name" required placeholder="Nombre">
          </div>
          <div class="mb-3 mx-5">
            <input type="number" class="form-control" id="price" name="price" [(ngModel)]="selectedProduct.price" required placeholder="Precio">
          </div>
          <div class="mb-3 mx-5">
            <input type="number" class="form-control" id="unitsAvailable" name="unitsAvailable" [(ngModel)]="selectedProduct.units_available" required placeholder="Unidades disponibles">
          </div>
          <div class="mb-3 mx-5">
            <textarea class="form-control" placeholder="Descripción" name="description" [(ngModel)]="selectedProduct.description" id="description"></textarea>
          </div>
          <div class="mb-3 mx-5">
            <select class="form-select" aria-label="Default select example">
              <option selected>Selecciona una categoría</option>
              <option value="1">Teclados</option>
              <option value="2">PC gamer</option>
              <option value="3">Mouse</option>
            </select>
          </div>
          <div class="mb-3 mx-5">
            <label for="mainImage" class="form-label">Imagen principal</label>
            <input class="form-control form-control" name="mainImage" id="mainImage" type="file">
          </div>
          <div class="mb-3 mx-5">
            <label for="images" class="form-label">Imagenes del producto</label>
            <input class="form-control" name="images" type="file" id="images" multiple>
          </div>
          <div class="mb-3 mx-5">
            <mat-slide-toggle name="isPromotion" [(ngModel)]="selectedProduct.is_promotion">Está en promoción?: {{selectedProduct.is_promotion ? 'Sí' : 'No'}}</mat-slide-toggle>
          </div>
          <div class="mb-3 mx-5" *ngIf="selectedProduct.is_promotion">
            <input type="number" class="form-control" id="promotionPrice" name="promotionPrice" [(ngModel)]="selectedProduct.promotion_price" required placeholder="Precio de promoción">
          </div>
          <div class="mb-3 mx-5">
            <mat-slide-toggle name="status" [(ngModel)]="selectedProduct.status">Estado: {{selectedProduct.status ? 'Activo' : 'Inactivo'}}</mat-slide-toggle>
          </div>
          <button type="submit" class="px-5 py-2 my-3 rounded-pill btn btn-danger" data-bs-dismiss="modal">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
