<button style="height: 150px; visibility: hidden;" type="button" class="btn btn-link">Link</button>
<section class="fixed-bottom mt-5">
  <!-- Footer -->
  <footer class="text-center " style="background-color: #ecf7ff;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="row d-flex justify-content-center align-items-center">
          <span class="col-md-3 mx-1">WhatsApp: 301 854 2541</span>
          <span class="col-md-3 mx-1">Correo: unilago@gmail.com</span>
          <span class="col-md-4 mx-1">Dirección: Calle 7 #78-10 (Local 129)</span>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
