<div class="container">
  <div class="content">
    <p class="text-center display-2 my-5"><b>Detalle del producto</b></p>
    <div class="row" *ngIf="selectedProduct">
      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="i" class="active" aria-current="1" aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img [src]="selectedProduct.main_image" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6" *ngIf="selectedProduct">
        <div class="card-body rounded-3 p-3 card-product-detail-style">
          <h1 class="card-title text-center p-3">{{selectedProduct.name}}</h1>
          <hr class="bg-danger space-card-style">
          <span *ngIf="selectedProduct.is_promotion" class="text-bg-danger p-2">Producto con descuento</span>
          <div class="overflow-auto my-3 description-style">
            <p class="card-text"><span>{{selectedProduct.description}}</span></p>
          </div>
          <h2 *ngIf="!selectedProduct.is_promotion" class="card-text text-center">
            <b>${{selectedProduct.price * cantidad | number}}</b>
          </h2>
          <h2 *ngIf="selectedProduct.is_promotion" class="card-text text-center">
            <span class="h6">Antes:</span>
            <del class="text-danger">${{selectedProduct.price * cantidad | number}}</del>
          </h2>
          <h2 *ngIf="selectedProduct.is_promotion" class="card-text text-center">
            <span class="h6">Ahora: </span>
            <b>${{selectedProduct.promotion_price * cantidad | number}}</b>
          </h2>
          <div class="row d-flex justify-content-center my-3">
            <p class="text-center h6">Cantidad:</p>
            <button *ngIf="cantidad > 1" class="col-1 btn btn-primary" (click)="cantidad = cantidad - 1">-</button>
            <input class="col-1 mx-1 quantity-field"
                   type="number"
                   name="cantidad" id="cantidad" [(ngModel)]="cantidad">
            <button *ngIf="cantidad < 50" class="col-1 btn btn-primary" (click)="cantidad = cantidad + 1">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
